      <form action="/order" method="POST">
<div class="container">
  <div class="row" id="">
    <div class="col">
      1 of 3
      <div class="row">
        <img src="5253.66_13.jpg" alt="image error">
      </div>

    </div>

    <div class="col-6">
      2 of 3 (wider)
        <fieldset>
          <legend>Конфигуратор</legend>
          <div class="mb-3">
            <label for="disabledSelect" class="form-label">Выбор модели</label>
            <select class="form-select" aria-label="Default select example">
              {{#each bagModels}}
              <option value="{{name}}">{{name}}</option>
              {{/each}}
            </select>
          </div>

          <div class="mb-3">
            <label for="disabledSelect" class="form-label">Размер</label>
            <select class="form-select" aria-label="Default select example">
              {{#each sizes}}
              <option value="{{sizeName}}">{{sizeName}}</option>
            {{/each}}
            </select>
              <div><label for="disabledSelect" class="form-label">height:{{height}}</label></div>
              <div><label for="disabledSelect" class="form-label">width:{{width}}</label></div>
              <div><label for="disabledSelect" class="form-label">depth:{{depth}}</label></div>
              <div><label for="disabledSelect" class="form-label">length of handles:{{handleSize}}</label></div>
          </div>
          <div class="mb-3">
            <label for="disabledSelect" class="form-label">Выбор материал</label>
            <select class="form-select" aria-label="Default select example">
              {{#each materials}}
                <option value="{{name}}">{{name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="mb-3">
            <label for="Select" class="form-label">Цвет</label>
            <select class="form-select" aria-label="select example">
              {{#each colors}}
                <option value="{{name}}">{{name}}</option>
              {{/each}}
            </select>
          </div>
          
          <div >
            <div>
            <label for="Select" class="form-label" id="priceDiv"> будет DIV стоимости </label>
            </div>
            <div class='next'>
            <button type="submit" class="btn btn-primary">Далее</button>
            </div>
          </div>
    </div>
    </fieldset>
    </form>
  </div>
</div>
